---

---

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Nikolaj Agri Kristensen</title>
</head>

<body>
	<main class="pl-8 grid grid-cols-2 grid-rows-8">
		<section class="row-span-6">
			<div>
				<h1>Hej!</h1>
				<h2>Mit navn er Nikolaj Agri Kristensen</h2>
			</div>
			<footer class="col-span-2 row-span-2">
				<p>Made with love and coffee</p>
			</footer>
		</section>

		<section class="row-span-8">
			<img src="https://placekitten.com/400/800">
		</section>

	</main>
</body>

</html>